# Python
__pycache__/
*.py[cod]
*$py.class
venv/

# Node
node_modules/
dist/
npm-debug.log*

# Docker
.docker_data/
docker-compose.yml
docker-compose.prod.yml
Dockerfile

# IDE
.idea/
.vscode/

# Project specific
static/
media/
staticfiles/
*.sqlite3

# env
*.env

# other
.agent
desc/